<!DOCTYPE html>
<html>
  <head>
    <title>Turnero</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li role="presentation">
          <%= link_to 'turnos', turns_path %>
        </li>
        <li role="presentation">
          <%= link_to 'Consultorios', consulting_rooms_path %>
        </li>
        <li role="presentation">
          <%= link_to 'Mostrar Turnos', show_turns_turns_path %>
        </li>
      </ul>

      <%= yield %>
    </div>
  </body>
</html>
